<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.location.bestlocationstrategy">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"

        android:label="@string/app_name">

        <!-- Foreground services in Android 10+ require type. -->
        <service
            android:name=".foregroundservice.ForegroundOnlyLocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <receiver
            android:name="com.location.bestlocationstrategy.locationBroadCast.LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.location.bestlocationstrategy.PROCESS_UPDATES" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
